.review-section {
    padding: 70px 0 85px;
    border-bottom: 2px solid $gray-light;

    h2 {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .review-box {
        max-width: 80%;
        width: 100%;
        margin: 0 auto;

        .uk-text-uppercase {
            display: inline-block;
            position: relative;
            padding-left: 10px;

            &::before {
                content: '-';
                font-family: $font-default;
                font-size: 12px;
                color: inherit;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                position: absolute;
            }
        }

        p {
            font-size: 24px;
            color: $green;
            font-family: $lato;
            font-weight: $light;
            margin-bottom: 35px;
        }

        span {
            color: rgba($black, .7);
        }
    }

    .stars {
        margin-bottom: 45px;
        list-style-type: none;

        span {
            display: inline-block;
            &:not(:first-of-type) {
                padding-left: 10px;
            }

            &::before {
                color: $yellow;
                font-size: 14px;
            }
        }
    }

    .uk-slidenav a {
        text-decoration: none;
        margin: 0;
        width: 75px;
        height: 75px;

        &::before {
            font-size: 95px;
            color: $petrol;
            position: absolute;
            height: 100%;
            width: 100%;
            left: 50%;
            margin: 0;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: $nbSec ease-in-out;
        }

        &:first-of-type {
            transform: translateY(-50%) translateX(100%);
        }

        &:last-of-type {
            transform: translateY(-50%) translateX(-100%);
        }

        @include hover {
            &::before {
                color: rgba($petrol, .7);
            }
        }
    }

    @media (max-width: $breakpointMedium) {
        padding: 70px 0 45px;

        .uk-container {
            padding-left: 40px;
            padding-right: 40px;
        }

        .review-box {
            max-width: 73%;

            span {
                font-size: 15px;
            }
        }

        .stars {
            margin-bottom: 30px;
        }
    }

    @media (max-width: $breakpointSmall) {
        padding: 70px 0 55px;

        .review-box {
            max-width: 100%;
            padding: 0 10px;
        }

        .uk-slidenav {
            max-width: 180px;
            margin: 35px auto 0;
            position: relative;

            a {
                bottom: 0;
            }
        }

        .stars {
            padding-left: 0;
        }
    }
}

.review-section-border-top {
    border-top: 2px solid $gray-light;
}