.nb-main {
	.uk-text-lead {
		font-weight: $bold;
		color: $petrol;

		a {
			font-size: inherit;
		}
	}

	.uk-text-meta {
		color: $petrol;
	}

	@media (max-width: $breakpointLarge) {
		.uk-container {
			padding-left: 40px;
			padding-right: 40px;

			.uk-container {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}

	@media (max-width: $breakpointSmall) {
		.uk-container {
			padding-left: 10px;
			padding-right: 10px;
		}

		.uk-text-lead {
			font-size: 20px;
		}
	}
}

.uk-link-text a,
a.uk-link-text {
	color: $orange-link;
	font-size: 18px;
	position: relative;
	display: inline-block;
	font-weight: $bold;

	&::before,
	&::after {
		content: '';
		position: absolute;
		background-color: $orange-link;
		z-index: -1;
		height: 5%;
	}

	&::before {
		width: 0%;
		left: 0;
		bottom: 0;
		transition: width ease 0.4s;
	}

	&::after {
		width: 100%;
		left: 0;
		bottom: 0;
		transition: all ease 0.6s;
	}

	@media (max-width: $breakpointMedium) {
		font-size: 17px;
	}

	@media (max-width: $breakpointSmall) {
		font-size: 15px;
	}
}

.uk-link-text a:hover,
.uk-link-toggle:focus .uk-link-text,
.uk-link-toggle:hover .uk-link-text,
a.uk-link-text:hover {
	color: $orange-link;
	text-decoration: none;

	&::before {
		width: 100%;
	}

	&::after {
		left: 100%;
		width: 0%;
		transition: all ease 0.2s;
	}
}

.nb-block {
	clear: both;
	margin: $nbSpace 0;

	&:first-of-type {
		margin-top: 0;
	}

	h2,
	h3,
	h4,
	h5 {
		color: $petrol;
		font-weight: $bold;
	}

	h2 {
		font-size: 30px;
	}

	h3 {
		font-size: 26px;
	}

	p {
		color: $green;
		line-height: 1.95;
	}

	blockquote {
		background-color: $gray;
		padding: 90px 50px 55px;
		max-width: 430px;
		float: left;
		margin-bottom: 2.5rem;
		margin-right: 3.5rem;
		position: relative;
		margin-left: -90px;

		&::after {
			position: absolute;
			top: 40px;
			font-size: 30px;
			color: $petrol;
			left: 50px;
			font-family: 'svgicons';
			content: font-char($quote);
			display: block;
			width: 10px;
			height: 20px;
		}

		p {
			font-size: 20px;
			font-style: normal;
			line-height: 1.8;
		}

		span {
			color: $petrol;
			font-size: 13px;
			font-style: normal;
		}

		@media (max-width: $breakpointLarge) {
			margin-left: 0;
			margin-bottom: 40px;
			margin-right: 30px;
		}
		@media (max-width: $breakpointSmall) {
			margin-right: 0;
			max-width: 100%;
			float: none;
		}
	}

	ul li,
	ol li {
		font-size: 17px;
	}

	ul {
		padding-left: 25px;
		list-style-type: none;

		li {
			color: $petrol;
			padding-left: 35px;
			position: relative;

			&:not(:last-of-type) {
				margin-bottom: 12px;
			}

			&::before {
				position: absolute;
				left: 0;
				top: 0;
				content: font-char($tick);
				font-family: 'svgicons';
				font-size: 17px;
				color: $orange-link-light;
			}
		}
	}

	ol {
		padding-left: 70px;

		li {
			margin-bottom: 15px;
		}

		a {
			margin-left: 8px;
		}
	}

	@media (max-width: $breakpointSmall) {
		p {
			font-size: 15px;
		}

		h2 {
			font-size: 26px;
		}

		h3 {
			font-size: 20px;
		}

		blockquote {
			padding: 95px 20px 45px 35px;

			&::after {
				left: 35px;
			}

			p {
				font-size: 18px;
			}
		}

		ul li,
		ol li {
			font-size: 15px;
		}
	}

	&-content {

		figure {
			display: table;
			margin-top: 0;
			outline: none;

			a {
				cursor: zoom-in;
				display: block;
				width: 100%;
			}

			img {
				display: block;
				height: auto;

				@media (max-width: $breakpointMobile) {
					width: 100%;
				}
			}
		}

		figcaption {
			caption-side: bottom;
			display: table-caption;
			font-size: 13px;
			padding: 1rem 1.8rem;
			text-align: center;
			color: $white;
		}

		.align_right {
			float: right;
			margin-bottom: $nbSpace;
			margin-left: $nbSpace;
		}

		.align_left {
			float: left;
			margin-bottom: $nbSpace;
			margin-right: $nbSpace;
		}

		.align_center {
			clear: both;
			margin: $nbSpace auto;
			text-align: center;
		}

		.uk-table {
			thead {
				background-color: $navy;
			}

			tr {
				border-top: 3px solid $white;
			}

			th,
			td {
				padding: 18px 20px;
			}

			th {
				color: $white;
				font-weight: $bold;
				font-size: 12px;

				&:first-child {
					padding: 18px 20px;
				}
			}

			td {
				&:not(:first-child) {
					font-size: 14px;
					color: $green;
				}

				&:first-child {
					background-color: $blue-light;
					padding: 18px 20px;
					color: $navy;
					font-weight: $bold;
					font-size: 16px;
				}
			}

			@media (max-width: $breakpointSmall) {
				td {
					vertical-align: middle;
					&:first-child {
						font-size: 14px;
					}
				}
			}
		}

		.uk-text-small {
			font-size: 14px;
			font-weight: $bold;
		}

		@media (max-width: $breakpointMobile) {

			.align_right,
			.align_left,
			.align_center {
				clear: both;
				float: none;
				margin: $nbSpaceSmall 0;
				width: 100%;
			}
		}

		.TextformatterVideoEmbed {
			margin: $nbSpace 0;
		}
	}

	&-gallery {

		.nb-gallery-images {
			margin: 0 -$nbGutterXsmall;
			overflow: hidden;

			.nb-gallery-row {
				display: table;
				width: 100%;

				.nb-gallery-image {
					border: $nbGutterXsmall solid transparent;
					display: table-cell;
					margin: 0;
					outline: none;
					overflow: hidden;
					position: relative;
					vertical-align: top;

					span,
					&::before,
					&::after {
						position: absolute;
						opacity: 0;
						transition: $nbSec ease-in-out;
					}

					&::after {
						left: 0;
						top: 0;
						bottom: 0;
						width: 100%;
						content: '';
						background-color: rgba($blue-focus, .7);
						z-index: 1;
					}

					&::before {
						color: $white;
						font-family: 'svgicons';
						font-size: 30px;
						content: font-char($focus);
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%);
						z-index: 2;
					}

					span {
						left: 50%;
						top: 50%;
						transform: translate(-50%, 120%);
						color: $white;
						font-size: 12px;
						letter-spacing: 1px;
						font-weight: $semi-bold;
						text-transform: uppercase;
						z-index: 2;
						opacity: 0;
					}

					img {
						height: auto;
						width: 100%;
						vertical-align: middle;
					}

					@include hover {

						span,
						&::after,
						&::before {
							opacity: 1;
						}
					}
				}
			}

			.uk-container-expand & {
				margin: 0 $nbGutterXsmall;
			}
		}
	}

	&-form {

		.nb-form-content {
			position: relative;

			ul {
				margin: 0 0 $nbGutterSmall;
				padding: 0;

				li {
					display: inline-block;
					list-style: none;
					width: 100%;
				}
			}
		}

		label {

			i {
				margin-right: $nbGutterSmall;
			}
		}

		.uk-checkbox {

			+span {
				display: inline-block;
				margin-left: $nbGutterSmall;
			}
		}

		.uk-radio {

			+span {
				display: inline-block;
				margin-left: $nbGutterSmall;
			}
		}

		.nb-form-error {
			font-size: 0.875em;
			font-weight: 700;
			margin-bottom: $nbGutterSmall;

			.uk-icon {
				position: relative;
				top: -1px;
			}
		}

		.g-recaptcha {
			margin-bottom: 1rem;
		}
	}

	&-embed {
		iframe {
			width: 100%;
		}
	}

	&-facilities {
		table {
			background-color: $orange-light;
			border-collapse: collapse;
			width: 100%;

			thead tr {
				border-bottom: 5px solid $orange-link-light;
				border-top: 5px solid $orange-link-light;
			}

			th,
			td {
				color: $petrol;

				&:first-of-type {
					font-weight: $bold;
					font-size: 18px;
					vertical-align: top;
					padding: 23px 20px 8px;
				}

				&:not(:first-of-type) {
					font-size: 17px;
					font-weight: 400;
					padding: 0 15px 15px;

					ul {
						padding: 23px 15px 8px 0px;
					}
				}

				span {
					font-size: inherit;
					font-weight: inherit;
				}
			}

			th {
				position: relative;
				text-align: left;

				&::after {
					position: absolute;
					top: 0;
					height: 15px;
					width: calc(100% - 4px);
				}

				&:not(:first-of-type) {
					&::after {
						right: 0;
						background-color: $orange-link-light;
					}
				}

				&:first-of-type {
					left: 0;
				}
			}

			ul {
				list-style-type: none;
				display: flex;
				justify-content: flex-start;
				flex-wrap: wrap;
				padding: 0;
				margin: 0;

				&:not(:last-of-type) {
					margin-bottom: 15px;
				}

				li {
					width: calc(100% / 3);
					padding-left: 0;

					&::before {
						display: none;
					}

					&:not(:last-of-type) {
						margin-bottom: 15px;
					}
				}

				span {
					display: block;
					padding-left: 45px;
					position: relative;

					&::before {
						position: absolute;
						top: 50%;
						transform: translateY(-47%);
						left: 0;
						font-size: 50px;
						color: $orange-link-light;
					}
				}
			}

			@media (max-width: $breakpointLarge) {

				th,
				td {

					&:first-of-type,
					&:not(:first-of-type) {
						font-size: 15px;
					}
				}
			}

			@media (max-width: $breakpointSmall) {
				ul {
					flex-direction: column;
				}
			}
		}
	}
}

.nb-copyright {
	color: $white;
	font-size: 16px;

	@media (max-width: $breakpointXsmallMax) {
		font-size: 15px;
		margin-bottom: 30px;
		text-align: center;
	}
}
