.footer {
    padding-top: 75px;

    @media (max-width: $breakpointMedium) {
        padding-top: 70px;
    }

    @media (max-width: $breakpointSmall) {
        padding-top: 50px;
    }
}

.footer-title {
    margin-bottom: 65px;

    h2 {
        color: $petrol;
        font-size: 31px;
        margin-bottom: 10px;
        font-weight: 400;
        letter-spacing: 3px;
    }

    span {
        font-size: 14px;
        letter-spacing: 4.5px;
    }

    @media (max-width: $breakpointSmall) {
        margin-bottom: 40px;
    }
}

.contact-container {

    span,
    a {
        color: $petrol;
        display: block;
    }

    a {
        transition: $nbSec ease-in-out;
        @include hover {
            color: $petrol;
            text-decoration: none;
            opacity: .9;
        }
    }

    li {
        list-style-type: none;
    }

    .contact,
    .address {
        margin-bottom: 0;
        padding-bottom: 80px;
    }

    .contact {
        border-right: 2px solid $gray-light;

        li {
            width: 50%;
            margin: 0 auto;
            position: relative;
            padding-left: 75px;

            &:not(:last-of-type) {
                margin-bottom: 50px;
            }

            span {
                font-size: 18px;
                font-weight: $bold;
            }

            a {
                font-size: 16px;
                font-weight: $medium;
            }

            span:last-of-type {
                margin-bottom: 8px;
            }

            .icon {
                position: absolute;
                background-color: $blue;
                border-radius: 50%;
                left: 0;
                top: -10px;
                width: 50px;
                height: 50px;

                &::before {
                    color: $white;
                    font-size: 24px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }

    .address {
        margin-top: 0;
        position: relative;

        &::before {
            display: block;
            content: attr(aria-label);
            font-size: 120%;
            font-weight: bold;
            position: relative;
            color: $petrol;
            margin-bottom: 40px;
            padding-left: 100px;
        }

        li {
            margin-bottom: 35px;
            padding-left: 100px;
        }

        span,
        a {
            font-size: 16px;
        }

        span {
            font-weight: $medium;
        }

        a {
            font-weight: $bold;
            margin-bottom: 10px;
            position: relative;
            display: inline-block;
            &::before {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: $petrol;
                content: '';
            }
            @include hover {
                &::before {
                    opacity: .9;
                }
            }
        }
    }

    @media (max-width: $breakpointMedium) {

        >.uk-container {
            padding-left: 40px;
            padding-right: 40px;
        }

        .contact li {
            width: 100%;

            .icon {
                width: 55px;
                height: 55px;
            }
        }

        .address::before,
        .address li {
            padding-left: 30px;
        }
    }

    @media (max-width: $breakpointXsmallMax) {
        >.uk-container {
            padding-left: 10px;
            padding-right: 10px;
        }

        .uk-flex {
            flex-direction: column;
        }

        .contact {
            border: 0;
            padding-left: 15px;
            padding-bottom: 55px;

            li {
                max-width: 280px;
                margin: 0 auto;
                &:not(:last-of-type) {
                    margin-bottom: 40px;
                }
            }
        }

        .contact li,
        .address li {

            span,
            a {
                font-size: 15px;
            }
        }

        .address {
            padding-left: 0;
            text-align: center;
            padding-bottom: 10px;
            li {
                padding-left: 0;
                margin-bottom: 25px;
            }
            &::before {
                font-size: 15px;
                padding-left: 0;
                margin-bottom: 25px;
            }
            a {
                margin-bottom: 5px;
            }
        }
    }
}

.footer-bottom {
    background-color: $petrol-dark;
    font-family: $lato;
    font-size: 16px;
    padding: 25px 0;

    @media (max-width: $breakpointMedium) {
        .uk-container {
            padding-left: 40px;
            padding-right: 40px;
        }
    }
    @media (max-width: $breakpointXsmallMax) {
        padding: 40px 0 30px;
        .uk-flex {
            flex-direction: column;
        }
    }
}
