.header {
    background-color: $white;
    padding: 2px 0;

    >.uk-container>.uk-flex {
        padding-left: 225px;
    }

    .uk-logo {
        max-width: 223px;
        width: 100%;
        height: auto;
        z-index: 1;
        padding: 0;
    }

    .uk-navbar-nav {
        li {

            a,
            button {
                font-weight: $bold;
                font-size: 14px;
                color: $petrol;
                text-transform: uppercase;
            }

            button {
                display: flex;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;
                min-height: 80px;
                padding: 0 15px;
                text-transform: uppercase;
            }
        }
    }

    .uk-dropdown {
        list-style-type: none;
    }
}
